#post-container {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: "main sidebar";
    grid-gap: 10px;
    padding-top: 30px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 250px;
}

.content-container {
    grid-area: main;
}

#main-title {
    font-size: 36px;
    margin-bottom: 30px;
}

#post-description {
    font-style: italic;
    margin-bottom: 40px;
}

.post-content {
    line-height: 1.8;
    margin: 10px 0;
}

.img-container {
    margin-bottom: 30px;
}

.img-container img {
    width: 60%;
}